header {
  padding: 48px 8px 16px;

  .header-wrapper {
    @include flex(space-between);

    .header-logo {
      @include flex;
      gap: 8px;

      & span {
        @include font-noto(24px, 700);
      }
    }

    ul {
      @include flex;
      gap: 32px;
      padding: 0;
      margin: 0;
      list-style: none;

      & li {
        @include font-noto(20px, 500);
        transition: all 500ms;
      }

      :hover {
        color: var(--color-pink-light);
        cursor: pointer;
      }
    }
  }
}
