@import "./lib/normalize";
@import "./lib/swiper";
@import "./ui/container";
@import "./components/container";
@import "./sections/container";

// остальные дальше
* {
  box-sizing: border-box;
  font-family: "Noto Sans Display", sans-serif;
}

.container {
  position: relative;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  height: fit-content;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.input-wrapper {
  border-radius: 100px;
  padding: 8px 16px;
  width: 567px;
  height: 64px;
  background: #fff;
  @include flex(space-between);

  & input {
    border: none;
    outline: none;

    & placeholder {
      @include font-noto(20px, 400);
      color: var();
    }
  }

  :focus {
    color: var(--color-text);
  }
}

.title {
  @include font-noto(56px, 700);
  text-align: center;
  margin: 0 auto;
  width: 920px;
  position: relative;
}


